


.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(36, 36, 223);
}

.input-container{
  padding: 20px;
  border-radius: 10px;
  background-color:white;
}

form input{
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  background-color: rgb(133, 76, 185);
  margin: 2px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

form input[type='button']:hover{
  background-color: rgb(110, 68, 150);
}

form .display{
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}

form .display input{
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: rgb(88, 86, 86);
}

form .equal{
  width: 124px;
}


